body {
  color: limegreen;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}


#board {
  background: black;
  height: 650px;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
  border: 1.5em solid black;
  margin: 0 auto;
}

#middle {
  height: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/transform */
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}



