body {
  color: limegreen;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}


#board {
  background: black;
  height: 650px;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
  border: 1.5em solid black;
  margin: 0 auto;
}

#middle {
  height: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/transform */
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  }


  /* https://linuxhint.com/change-button-color-on-click-css/#:~:text=To%20change%20the%20button%20color,the%20mouse%20clicks%20on%20it. */
  #yellow {
    background: goldenrod;
    border-top-left-radius: 100%;
  }
  
  #yellow:active {
    background: yellow;
  }

  #red {
    background: darkred;
    border-bottom-right-radius: 100%;
  }
  #red:active {
    background: red;
  
  }
  
  #green {
    background: darkgreen;
    border-bottom-left-radius: 100%;
  }
  #green:active {
    background: green;
  }
  
  #blue {
    background: darkblue;
    border-top-right-radius: 100%;
  }
  
  #blue:active {
    background: blue;
  }
  
  


body.start {
  color: red;
  background-color: blue 
}

p {
  font-family: 'Montserrat', sans-serif; 
  color: mediumseagreen;
  font-size: 20px;
}

a {
  margin: 0;
  color: darkorange;
  position: relative;
  text-decoration: none;
}