body {
  color: limegreen;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("images/modern-sci-fi-spaceship-corridor-tunnel-entrance-triangle-blue-laser-light-glowing-perspective-illustration-backgrounds-3d-rendering_74387-616.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}



#board {
  background: black;
  height: 650px;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
  border: 1.5em solid black;
  margin: 0 auto;
}

#middle {
  height: 200px;
  aspect-ratio: 1/1;
  font-size: 20px
  0px;
  border-radius: 70%;
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/transform */
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  }

h2 {
  height: 100px;
  font-size: 30px;
  border-radius: 80px;

}
  /* https://linuxhint.com/change-button-color-on-click-css/#:~:text=To%20change%20the%20button%20color,the%20mouse%20clicks%20on%20it. */
  #yellow {
    background: goldenrod;
    border-top-left-radius: 100%;
  }
  
  #yellow:active {
    background: yellow;
  }
  #yellow.active {
    background: yellow;
  }
  #red {
    background: darkred;
    border-bottom-right-radius: 100%;
  }
  #red:active {
    background: red;
  
  }
  #red.active {
    background: red;
  
  }
  #green {
    background: darkgreen;
    border-bottom-left-radius: 100%;
  }
  #green:active {
    background: green;
  }
  #green.active {
    background: green;
  }
  
  #blue {
    background: rgba(2, 2, 130, 0.823);
    border-top-right-radius: 100%;
  }
  
  #blue:active {
    background: blue;
  }
  
  #blue.active {
    background: blue;
  }


body.start {
  background-image: url("images/red-curtain-backdrop-2-pc-~3_2329.jpeg");
}


a {
  margin: 0;
  color: darkorange;
  position: relative;
  text-decoration: none;
}

.start {
  background-color: blue;
}

h3 {
  color: goldenrod;
  font-size: 65px;
  margin: 0;
  text-align: center

}